<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Spring Security</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<!--네비게이션바-->
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/board">Education</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/login">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/signup">Sign Up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/user/signup">My Page</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--<회원가입영역>-->
<div layout:fragment="content" class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>회원가입</h4>
    </div>
  </div>
  <form th:action="@{/user/signup}" th:object="${userCreateForm}" method="post">
    <div class="mb-3">
      <span>사용자 ID: </span>
      <input id="writeUsername" type="text" class="form-control">
    </div>
    <div class="mb-3">
      <span>비밀번호: </span>
      <input id="writePassword1" type="password" class="form-control">
    </div>
<!--    <div class="mb-3">-->
<!--      <span>비밀번호 확인: </span>-->
<!--      <input id="writePassword2" type="password" class="form-control">-->
<!--    </div>-->
    <div class="mb-3">
      <span>이메일: </span>
      <input id="writeEmail" type="email" class="form-control">
    </div>
    <input id="btnUserRegistration" class="btn btn-primary" type="button" value="회원가입">
<!--    <input id="btnUserModify" class="btn btn-outline-primary me-md-2" type="button" value="회원정보수정">-->
<!--    <input id="btnUserDelete" class="btn btn-outline-danger me-md-2" type="button" value="회원탈퇴">-->
  </form>
</div>
<script>
  document.addEventListener("DOMContentLoaded", () => {
    // 회원가입
    document.getElementById("btnUserRegistration").addEventListener("click",()=>{
      let params = new FormData;
      params.append("username",document.getElementById("writeUsername").value)
      params.append("password",document.getElementById("writePassword1").value)
      params.append("email",document.getElementById("writeEmail").value)

      fetch("/user/signup", {
        method: "POST",
        body: params,
        headers : {}
      })
              .then((response) => {
                if (response.ok) {
                  return response.json()
                }
              })
              //콜백함수
              .then((res)=>{
                console.log(res.responseCode);
                if(res.responseCode === "성공"){
                  alert("등록성공");
                  window.location.href = "/board"
                }
              })

              .catch((error) => alert(error))     // 클릭이벤트 실행 중에 에러가 발생하면, 에러발생 알림창을 제시
    })

    // // 회원정보수정
    // document.getElementById("btnUserModify").addEventListener("click",()=>{
    //   let params = new FormData;
    //   params.append("username",document.getElementById("writeUsername").value)
    //   params.append("password",document.getElementById("writePassword1").value)
    //   params.append("email",document.getElementById("writeEmail").value)
    //
    //   fetch("/user/signup", {
    //     method: "put",
    //     body: params,
    //     headers : {}
    //   })
    //           .then((response) => {
    //             if (response.ok) {
    //               return response.json()
    //             }
    //           })
    //           //콜백함수
    //           .then((res)=>{
    //             console.log(res.responseCode);
    //             if(res.responseCode === "성공"){
    //               alert("수정성공");
    //               window.location.href = "/board"
    //             }
    //           })
    //
    //           .catch((error) => alert(error))     // 클릭이벤트 실행 중에 에러가 발생하면, 에러발생 알림창을 제시
    // })
    //
    // //회원탈퇴
    // document.getElementById("btnUserDelete").addEventListener("click",()=>{
    //   let params = new FormData;
    //   params.append("username",document.getElementById("writeUsername").value)
    //
    //   fetch("/user/signup", {
    //     method: "DELETE",
    //     body: params,
    //     headers : {}
    //   })
    //           .then((response) => {
    //             if (response.ok) {
    //               return response.json()
    //             }
    //           })
    //           //콜백함수
    //           .then((res)=>{
    //             console.log(res.responseCode);
    //             if(res.responseCode === "성공"){
    //               alert("삭제성공");
    //               window.location.href = "/board"
    //             }
    //           })
    //
    //           .catch((error) => alert(error))     // 클릭이벤트 실행 중에 에러가 발생하면, 에러발생 알림창을 제시
    // })
  })

</script>

</body>
</html>