<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
<head>
  <meta charset="UTF-8">
  <title>Spring Security</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>
<body>
<!--네비게이션바-->
  <nav th:replace="navbar :: navbarFragment"></nav>
<!--<회원가입영역>-->
<div layout:fragment="content" class="container my-3">
  <div class="my-3 border-bottom">
    <div>
      <h4>회원정보</h4>
    </div>
  </div>
  <form>
    <div class="mb-3">
      <span>사용자 ID:</span>
<!--      <div th:text="${callMyPage}"></div>-->
<!--      <textarea id="writeUsername" type="text" class="form-control" th:text="${callMyPage}" style="height: 30px" readonly></textarea>-->
      <input id="writeUsername" type="text" class="form-control" readonly>
    </div>
    <div class="mb-3">
      <span>비밀번호: </span>
      <input id="writePassword1" type="password" class="form-control">
    </div>
    <!--    <div class="mb-3">-->
    <!--      <span>비밀번호 확인: </span>-->
    <!--      <input id="writePassword2" type="password" class="form-control">-->
    <!--    </div>-->
    <div class="mb-3">
      <span>이메일: </span>
      <input id="writeEmail" type="email" class="form-control">
    </div>
    <input id="btnUserModify" class="btn btn-outline-primary me-md-2" type="button" value="회원정보수정">
    <input id="btnUserDelete" class="btn btn-outline-danger me-md-2" type="button" value="회원탈퇴">
  </form>
</div>
<script>
  const LoadInfo = () => {
    // 회원정보 보여주기
    fetch("/user/mypage/api", {
      method: "GET",
      // body: params,
      headers: {}
    })
            .then((response) => {
              if (response.ok) {
                return response.text()  // text로 값을 받음
              }
            })
            //콜백함수
            .then(data => {
              document.getElementById("writeUsername").value = data  // username을 받아서, 원하는 곳에 출력하기
            })
            .catch((error) => alert(error))
  }

  document.addEventListener("DOMContentLoaded", () => {
    LoadInfo();
    // 회원정보수정
    document.getElementById("btnUserModify").addEventListener("click",()=>{
      let params = new FormData;
      params.append("username",document.getElementById("writeUsername").value)
      params.append("password",document.getElementById("writePassword1").value)
      params.append("email",document.getElementById("writeEmail").value)

      fetch("/user/mypage", {
        method: "PUT",
        body: params,
        headers : {}
      })
              .then((response) => {
                if (response.ok) {
                  return response.json()
                }
              })
              //콜백함수
              .then((res)=>{
                console.log(res.responseCode);
                if(res.responseCode === "성공"){
                  alert("수정성공");
                  window.location.href = "/board"
                }
              })

              .catch((error) => alert(error))     // 클릭이벤트 실행 중에 에러가 발생하면, 에러발생 알림창을 제시
    })

    //회원탈퇴
    document.getElementById("btnUserDelete").addEventListener("click",()=>{
      let params = new FormData;
      params.append("username",document.getElementById("writeUsername").value)

      fetch("/user/mypage", {
        method: "DELETE",
        body: params,
        headers : {}
      })
              .then((response) => {
                if (response.ok) {
                  return response.json()
                }
              })
              //콜백함수
              .then((res)=>{
                console.log(res.responseCode);
                if(res.responseCode === "성공"){
                  alert("삭제성공");
                  window.location.href = "/board"
                }
              })

              .catch((error) => alert(error))     // 클릭이벤트 실행 중에 에러가 발생하면, 에러발생 알림창을 제시
    })
  })

</script>

</body>
</html>